*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
#grid-container{
    display:grid;
    grid-template-areas: 
    "header header header header corner corner "
    "home home home image image border "
    "brand brand brand brand brand brand"
    "product product product product product product"
    "restyle restyle restyle restyle restyle restyle "
    "picture picture picture trend trend trend "
    "decor decor decor piece piece piece "
    "offer offer offer offer offer offer "
    "promo promo promo promo promo promo"
    "review review review review review review"
    "photo photo photo testimony testimony testimony "
    "footer footer footer footer footer footer "
    "copyright copyright copyright copyright copyright copyright ";
    width: 1440px;
    margin: auto;
    background-color: white;
    grid-template-columns: (6, 1fr);
}
.header{
    grid-area: header;
}

.corner{
    grid-area: corner;
    height: 200px;
    background-color: rgb(55, 55, 55);
    text-align: right;
    padding-top: 50px;
    padding-right: 80px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 150px 50%;
}
.corner > img {
    width:20px;
    height: 20px;
    margin:15px;
}
.home {
    grid-area: home;
    margin-left: 100px;
}
.home h1{
    font-size: 60px;
    margin-top: 30px;
}
.home h2{
    font-size: 35px;
    font-weight: 550;     
}
.home .archive{
    display:grid ;
    grid-template-columns: auto auto auto;
    margin-left: 25px;
} 
.home .archive p{
    margin-left:0px ;
    margin-top: 5px;
}
.home #watch {
    display: inline;
    margin-left:5px ;
}
.home button {
    background-color: rgb(55, 55, 55);
    font-weight: bold;
    color: white;
    border: none;
}
.home span{
    border: dashed 2px grey; 
    padding: 3px;
}
.image{
    grid-area:image;
}
.border{
    grid-area: border;
    height: 200px;
    background-color: rgb(55, 55, 55);
    clip-path:polygon(
        0 0,
        10% 0,
        100% 0,
        100% 50%,
        5% 100%,
        0 100%
      )
}
.brand{
    grid-area: brand;
}
.brand h1 {
    display:inline;
    margin: 45px;
    font-size: 40px;
    color:grey;
    font-weight: lighter;
}
#ikea{
    padding-left:50px ;
    font-family:fantasy;
    font-weight: 1000;
    text-shadow: 30px;
}
.product{
    grid-area: product;
    display: grid;
    grid-template-rows: auto auto;
}
.product .paragraph{
    margin-bottom: 50px;
}
.product .paragraph #text{
    display: inline-flex;
    margin-left: 50px;
}
.product .paragraph #image{
    display: inline-flex;
    margin-left: 1000px;
}
.product .main {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.product .main p{
    margin:3px;
}
.product .new{
    color:red;
}

.product .main .vase img{
      height: 300px;
      width: 300px;
}
.product .span{
    margin-left:200px;
    color: black;
}
.restyle{
    grid-area: restyle;
    text-align: center;
    margin: 50px;
}
.picture{
    grid-area: picture;
    margin-left: 100px;
}
.trend{
    grid-area: trend;
    margin-bottom: 100px;
}
.trend h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trend button{
    background-color: white;

}
.decor{
    grid-area: decor;
    margin-left: 100px;
}
.decor h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.decor button{
    background-color: white;

}
.piece{
    grid-area: piece;
}
.offer{
    grid-area: offer;
    text-align: center;
}
.promo{
    grid-area: promo;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.promo .main{
    margin:60px;
    text-align: center;
}
.promo .main h3{
    margin-top: 50px;
}
.promo .main p{
    margin-top: 20px;
}

.review{
    grid-area: review;
    text-align: center;
    margin: 50px;
}
.photo{
    grid-area: photo;
    margin-left: 100px;
}
.testimony{
    grid-area: testimony;
}
.testimony #arthur{
    display: inline-flex;
    margin-top:0px ;
    margin-bottom: 50px;
}
.testimony span{
    margin-left: 350px;
    font-size: 50px;
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer .main{
    margin: 50px;
}
.footer p{
    margin-left:50px;
    margin-bottom: 40px;

}
.footer li{
    padding: 12px;
}
.footer  ul{
    list-style-type: none;
}
.copyright{
    grid-area: copyright;
}
.copyright span{
    margin-left: 800px;
}
.copyright p{
    margin-left: 90px;
}
.nav a {
    text-decoration: none;
    padding: 15px;
    color: black;
}
.nav {
    display: inline;
    list-style-type: none;
    margin-left: 100px;
    font-weight: bold;
}
.nav li {
    display:inline;    
}
a {
    text-decoration: none;
    color:black;
}
.main_image {
    height: 500px;
    width: 500px;
}
.grid-item {
    padding:50px;
}
button{
    width:150px;
    height:70px;
    border-radius: 60px;
    margin:40px;
    margin-left: 20px;
}
p{
    font-size: 18px;
}


